body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* min-width: 1400px; */
  /* font-family: 'ZCOOL KuaiLe', cursive; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  /* background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); */
  /* background-color: blue; */
  text-align: center;
}
#root{
  height: 100%;
  width: 100%;
}

